.annunci {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 24px;
}

.annuncio {
    border: 1px solid black;
    text-align: center;
}

.nome {
}

.eta {
    font-weight: bold;
}

.paese {

}
